<% layout("layouts/boilerplate.ejs") %>

<h2>Search Results for "<%= query %>"</h2>

<% if (lists.length === 0) { %>
    <p>No destinations found.</p>
<% } else { %>
    <div class="row">
        <% lists.forEach(list => { %>
            <div class="card search-card col-md-3 m-2">
                <img src="<%= list.image.url %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= list.title %></h5>
                    <p class="card-text"><%= list.description %></p>
                    <a href="/lists/<%= list._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>



















